backend/model/model.safetensors filter=lfs diff=lfs merge=lfs -text
backend/data/legal_metadata.json filter=lfs diff=lfs merge=lfs -text
backend/data/pdf_data.json filter=lfs diff=lfs merge=lfs -text
